.ipynb_checkpoints/*

.DS_Store
*/.DS_Store
*.csv
*.shx
*.shp
*.qpj
*.prj
*.dbf
*.cpg
*.sbx
*.sbn
*.xml
*.bna
*.pdf
*.py
*.qgs~
*.qgs
*.qml
*.ocd
*.cnt
*.style
*.mxd
*.lyr
*.tif
*.tfw
*.html
*.reg
*.txt
*.otf







